/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/;
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  font-size: 1rem;
  color:#ebdbb2; 
  background-color: #1c1c1c;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  border-radius: 5px;
  border: 1px solid #404040;
  outline: none;
}

button:hover {
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

select {
  white-space: nowrap;
  overflow: hidden;
}

option {
  max-width: 100%;
}

a {
  text-align: start;
  text-decoration: none;
  padding: 10px 0 10px 0;
}

fieldset {
  border: 1.9px solid #404040;
  padding: 5px;
  border-radius: 4px;
}

legend {
  font-size: 0.8rem;
}

