.container {
  display: flex;
  margin: auto;
  min-height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

/* Login and SignUp */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto;
  width: auto;
  min-width: 300px;
  max-width: 300px;
}

.auth-form > small {
  color: #737373;
}

.auth-form > small > a {
  color: #458588;
  font-weight: bold;
  text-decoration: underline;
}

.auth-form > small > a:hover {
  color: #83a598;
}

.auth-form > form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.auth-form > form > button {
  margin: 0 0 0 auto;
}

.errorMessage {
  color: #1c1c1c;
  padding: 0 0 0 5px;
  background-color: #fb6150;
  border-radius: 1px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.logo {
  color: #fabd2f;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.links > a {
  color: #ebdbb2;
  border: 1.9px solid #404040;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
}

.links > a:hover {
  background-color: #333333;
}

/* user's name on display */
.user {
  color: #d3869b;
  border: none;
  border-top: none;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  max-width: 100%;
  gap: 10px;
}

.path-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8094b4;
  gap: 10px;
}

.chain-link {
  color: #928374;
}

/* navigation section */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.navigation-section {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  max-width: 220px;
  border-top: 1px solid #404040;
  border-right: 1px solid #404040;
  gap: 10px;
  padding: 9px 10px 5px 10px;
  scroll-behavior: smooth;
  overflow-x: auto; /* scrollbar when content exceeds */
}

.navigation-section:active {
  cursor: grabbing;
}

/* navigation dialogs */
dialog {
  margin: auto;
  inset: 0;
}

dialog[open] {
  animation: fadeIn 0.3s ease;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
}

.file-modal {
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  padding: 5px 10px 10px 10px;
  color: #ebdbb2;
  background-color: #333;
  border: none;
  
}

.file-modal > div:last-of-type > div {
  display: flex;
  gap: 5px;
}

.file-modal > div:last-of-type > div:last-of-type {
  display: flex;
  padding: 3px 0 3px 0;
}

.file-modal > div:first-of-type > p {
  padding: 10px 0 0 0;
}

.file-modal > div:first-of-type > small:last-of-type {
  color: #737373;
  padding: 0 0 10px 0;
}

.file-modal p {
  color: #fabd2f; /* yellow */
}

.metadata {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.metadata > button {
  display: block;
  width: fit-content;
  /* margin: 0 0 10px auto; FOR IMAGE BOTTOM SPACING */
  margin: 0 0 0 auto;
}

.metadata > div:first-of-type {
  height: 200px;
  width: auto;
  border: 1px solid #666;
}

/* .metadata > div:first-of-type > img { */
/*   width: 100%; */
/*   height: 100%; */
/*   object-fit: contain; */
/*   display: block; */
/* } */

.share-file {
  width: 100px;
  border-radius: 4px;
  border: none;
}

.copyLink {
  min-width: 100%;
}

.line {
  width: 100%;
  border-top: 1px solid #666;
}

.delete {
  margin: 5px 0 0 0;
}

.navigation-dialog {
  padding: 0;
  color: #ebdbb2;
  background-color: #333;
  border: none;
}

.navigation-dialog:last-of-type > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-dialog:last-of-type small:first-child {
  color: #b8bb26;
}

.navigation-dialog:last-of-type small:nth-child(2) {
  color: #fabd2f; /* yellow */
  font-weight: bold;
}

.navigation-dialog:last-of-type > div:last-of-type small {
  color: #ebdbb2;
}

.navigation-dialog:last-of-type {
  padding: 5px 10px 10px 10px;
  gap: 15px;
  min-width: auto;
  width: 310px;
}

#delete-folder {
  padding: 5px 10px 10px 10px;
  width: 310px;
}

#delete-folder > div:first-of-type {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#delete-folder > div:last-of-type {
  display: flex;
  flex-direction: column;
  min-width: auto;
}

#delete-folder > div:last-of-type > div > button {
  color: #1a1a1a;
  background-color: #fb6150;
}

#delete-folder > div:last-of-type > div:first-of-type > small:first-of-type {
  color: #b8bb26;
}

#delete-folder > div:last-of-type > div:first-of-type > small:last-of-type {
  color: #fabd2f; /* yellow */
  font-weight: bold;
}

#delete-folder > div:last-of-type > div:last-of-type {
  margin: 0 0 0 auto;
}

.navigation-dialog:last-of-type > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* sort menu options */
.sort-menu {
  display: flex;
  align-items: center;
}

.sort-menu a {
  color: #666;
  padding: 5px 0 5px 2px;
  border-radius: 4px;
}

.sort-menu a:hover {
  background-color: #262626;
}

.sort-menu > a { /* sort by name */
  width: 100%;
  max-width: 70%;
}

.sort-menu > div {
  display: flex;
  flex: 1;
}

.sort-menu > div > a {
  width: 50%;
}

/* file & folder elements */
.storage-items {
  display: flex;
  flex-direction: column;
  flex: 1; /* occupy remaining space */
  padding: 0 10px 0 10px;
  gap: 5px;
  border-top: 1px solid #404040;
}

.file, .folder {
  background: transparent;
}

.file:hover, .folder:hover {
  background-color: #333333;
}

.file {
  display: flex;
  color: #ebdbb2;
  text-align: start;
  padding: 5px;
}

.file div:last-of-type {
  font-size: 0.7rem;
}

.file > div:first-of-type {
  width: 100%;
  max-width: 70%;
}

.file > div:last-of-type {
  display: flex;
  align-items: center;
  flex: 1;
}

.file > div:last-of-type > p {
  width: 50%;
  padding: 0 0 0 3px;
}

.folder {
  color: #8094b4;
  display: inline-flex;
  align-items: center;
  border: 1px solid #404040;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.folder > div:first-of-type {
  width: 100%;
  max-width: 70%;
}

.folder > div:last-of-type {
  font-size: 0.7rem;
}

.folder > div:last-of-type {
  display: flex;
  align-items: center;
  flex: 1;
}

.folder > div:last-of-type > p {
  width: 50%;
  padding: 0 0 0 3px;
}

/* tree */
details summary { 
  list-style: none; 
  font-size: 0.9rem;
} 

details { 
  margin-left: 20px; 
  position: relative; 
  color: #fe8019;
}

details::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #404040;
}

summary::before {
  content: '─ ';
  position: absolute;
  left: -14px;
  color: #fe8019;
}

.rootDirectory {
  font-size: 0.9rem;
  padding: 0 0 0 2px;
}

.directory {
  color: #8094b4;
}

.directory:first-child {
  border: none;
}

.slash {
  color: #b8bb26;
}

/* files & folders forms */
.fileForm {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 10px;
  gap: 5px;
  background-color: #333;
}

.directoryForm {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 10px;
  gap: 10px;
  background-color: #333;
}

/* buttons */
.btn-primary {
  background-color: #8094b4;
  color: #1c1c1c;
  align-self: end;
  padding: 0 5px 0 5px;
}

.btn-secondary {
  background-color: #1c1c1c;
  border: 1.9px solid #404040;
  color: #ebdbb2;
  text-align: start;
  font-size: 0.9rem;
}

.btn-secondary:hover {
  background-color: #333333;
}

/* MOBILE  */
@media (max-width: 767px) {
  /* adjust partition to 60/40 ratio */
  .sort-menu > a { /* sort by name */
    width: 100%;
    max-width: 65%;
  }

  .folder > div:first-of-type {
    width: 100%;
    max-width: 70%;
  }

  .file > div:first-of-type {
    width: 100%;
    max-width: 65%;
  }

  /* sort options  */
  .sort-menu {
    font-size: 0.8rem;
  }

  .entities {
    font-size: 0.8rem;
  }

  .entities > div:last-of-type > p {
    font-size: 0.5rem;
  }

  .navigation-section {
    background-color: #1c1c1c;
    box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 100%;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  fieldset {
    display: none;
  }
}

@media (max-width: 479px) {
  .breadcrumbs {
    font-size: 0.8rem;
  }

  /* adjust partition to 60/40 ratio */
  .sort-menu > a { /* sort by name */
    width: 100%;
    max-width: 65%;
  }

  .folder > div:first-of-type {
    width: 100%;
    max-width: 70%;
  }

  .file > div:first-of-type {
    width: 100%;
    max-width: 65%;
  }

  /* sort options  */
  .sort-menu {
    font-size: 0.7rem;
  }

  /* items */
  .entities {
    font-size: 0.8rem;
  }

  .entities > div:last-of-type > p {
    font-size: 0.5rem;
  }

  fieldset {
    display: none;
  }
}
