.container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: auto;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 5px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.path-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 5px;
}

a {
  border-bottom: 1px solid #b3b3b3;
  text-decoration: none;
  padding: 10px 0 10px 0;
}

a:first-child {
  border-top: 1px solid #b3b3b3;
}

a:hover {
  background-color: #f2f2f2;
}

/* tree */
details { 
  margin-left: 20px; 
  position: relative; 
}

.dirTreeLinks {
  color: #595959;
}

.dirTreeLinks:first-child {
    border: none;
}

.dirTreeLinks:hover {
    background-color: transparent;
    text-decoration: none;  
    color: blue;
}

details::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #999;
}

summary::before {
  content: '─ ';
  position: absolute;
  left: -14px;
  color: #999;
}

.last-child summary::before {
  content: '─ ';
}

details::-webkit-details-marker { 
  display: none; 
}

details::-moz-details-marker { 
  display: none; 
}

details::marker { 
  display: none; 
  color: #999;
}

details summary { 
  list-style: none; 
} 
