.container {
  display: flex;
  border: 1px solid;
  margin: auto;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 5px;
}

.logo {
  color: #fabd2f;
}

/* user's name on display */
.user {
  color: #d3869b;
  border: none;
  border-top: none;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.path-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8094b4;
  gap: 10px;
}

.chain-link {
  color: #928374;
}

/* file & folder elements */
.storage-items {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 5px;
}

.entities:first-child {
  border-top: 1px solid #b3b3b3;
}

.file {
  background-color: transparent;
  text-align: start;
}

.folder {
  color: #8094b4;
}

/* tree */
details summary { 
  list-style: none; 
} 

details { 
  margin-left: 20px; 
  position: relative; 
  color: #fe8019;
}

details::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #999;
}

summary::before {
  content: '─ ';
  position: absolute;
  left: -14px;
  color: #fe8019;
}

.directory {
  color: #8094b4;
}

.directory:first-child {
  border: none;
}

.slash {
  color: #b8bb26;
}

/* files & folders forms */
.fileForm {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 10px;
  gap: 5px;
  background-color: #333;
}

.directoryForm {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 10px;
  gap: 10px;
  background-color: #333;
}

/* buttons */
.btn-primary {
  background-color: #8094b4;
  color: #1c1c1c;
  align-self: end;
  padding: 0 5px 0 5px;
}

/* .modal { */
/*   display: none; */
/*   flex-direction: column; */
/*   justify-content: center; */
/*   gap: 5px; */
/*   position: fixed; */
/*   border: 1px solid; */
/*   max-width: 500px; */
/*   max-height: 500px; */
/*   padding: 0.5rem; */
/*   margin: auto; */
/*   z-index: 50; */
/*   background-color: #1c1c1c; */
/*   inset: 0; */
/* } */
/**/
/* .modal-backdrop { */
/*   position: absolute; */
/*   inset: 0; */
/* } */
/**/
/* .modal-content { */
/*   position: relative; */
/*   z-index: 1; */
/*   border: 1px solid red; */
/* } */
/**/
/**/
