<div class="breadcrumbs">
    <% if (rootFolder.id === null) { %>
        <a href="/">
            <%= rootFolder.name %>'s storage
        </a>

        <% if (pathSegments.length) { %> 
            <span>
                >
            </span>
        <% } %>
    <% } %>
    
    <div class="path-links">
    <% if (pathSegments?.length > 0) { %>
    <% pathSegments.forEach((segment, index) => { %>
        <a href="/storage/<%= segment.id %>">
            <%= segment.name %>
        </a>

        <% if (index < pathSegments.length - 1) { %>
            <span> 
                >
            </span>
        <% } %>
    <% }) %>
    <% } %>
    </div>

</div>

