<button class="btn-secondary" id="file" data-target="new-file">New File</button>
<button class="btn-secondary" id="folder" data-target="new-folder">New Folder</button>
<button class="btn-secondary" id="share" data-target="share-folder">Share Folder</button>

<!-- upload file -->
<dialog id="new-file" class="navigation-dialog">
    <form 
        action="/files/uploadFile" 
        method="POST"
        enctype="multipart/form-data"
        class="fileForm"
    >
        
        <div class="dialog-title"> 
            <h4>New File</h4>
            <button class="closeModal">x</button>
        </div>
        
        <input type="file" name="file" id="file" />

        <input type="hidden" name="parentId" value="<%= folderId %>" />

        <button type="submit" class="btn-primary">Upload</button>
    </form>
</dialog>

<!-- create new directory -->
<dialog id="new-folder" class="navigation-dialog">
    <form 
        action="/storage/createDirectory" 
        method="POST"
        class="directoryForm"
    >
        <input type="hidden" name="parentId" value="<%= folderId || null %>" />

        <div class="dialog-title"> 
            <h4>Directory</h4>
        </div>

        <input type="text" name="dir" id="dir" placeholder="Untitled folder"/>

        <button type="submit" class="btn-primary">Create</button>
    </form>
</dialog>

<!-- shared folder button -->
<dialog id="share-folder" class="navigation-dialog">
    <h4>Share Folder</h4>
    <div>
        <% if (folderId && pathSegments.length > 0) { %>
            <% const currentFolder = pathSegments[pathSegments.length - 1] %>
            <% if (currentFolder) { %>
                <small>Name: </small>
                <small><%= currentFolder.name %></small>
            <% } %>
        <% } %>
    </div>

    <small>Duration</small>
    <div>
        <select class="folder-share-expires" name="expiresAt">
            <option disabled selected hidden>Generate Link</option>
            <option value="1"><small>Expire in 1 hour</small></option>
            <option value="7"><small>Expire in 7 hours</small></option>
            <option value="24"><small>Expire in 24 hours</small></option>
        </select>
        <input type="text" class="copyLink"/>
        <button class="btn-primary">Copy Link</button>
    </div>
</dialog>

<%- include('tree', { baseUrl }) %>
