<div class="sort-menu">
    <a href="<%= generateSortLink(sortQuery, 'name') %>">
        <p>Name</p>
    </a>

    <div>
        <a href="<%= generateSortLink(sortQuery, 'size') %>">
            Size
        </a>

        <a href="<%= generateSortLink(sortQuery, 'createdAt') %>">
            Created
        </a>
    </div>
</div>
